.titulo{
  color: black;
  background-color: rgb(23, 156, 209);
  font-size: 1.5rem;
}
span{
  margin: auto;
}

form{
  width: 70%;
  margin: auto;
}

mat-card-actions{
  margin: auto;
}
button{
  margin-left: 10px;
}
table{
  margin: auto;
}

mat-form-field{
  margin: 20px 30px 0 0;
}

mat-icon{
 // color: rgb(61, 30, 90);
  font-size: 1.8rem;
}
