.mat-table{

  overflow: auto;
  max-height: 600px;

}
mat-header-cell{
  color: rgb(39, 138, 177);
  font-size: 1.2rem;
}
button{
  margin: auto;
}

.action-columna
{margin:  auto;}


.addcolor{
  background-color:rgb(218, 76, 218);
}

